html {
  background-color: #e2c9ce;
  font-family: Roboto, sans-serif;
  color: #fff;
  border: #cda349;
}

.alltype {
  text-align: center;
}

.type1 {
  text-align: center;
  font-family: Roboto, sans-serif;
}

.type2 {
  text-align: center;
  font-family: "Yeseva One", cursive;
}

.card {
  border: 2px solid #cda349;
  border-radius: 8px;
}

@media only screen and (min-width: 25em) {

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  .card {
    padding-top: 60px;
  }

}

@media only screen and (min-width: 38em) {

  h2,
  p {
    margin: 0 0 1.4rem;
  }
}

@media only screen and (min-width: 60em) {

  h2,
  p {
    margin: 0 0 1.5rem;
  }

  .type1 {
    text-align: center;
  }

  .type2 {
    color: #cda349;
  }

  .seperate {
    color: #cda349;
  }

  .rectangle {
    height: 100px;
    width: 7px;
  }
}
